EASE_EMAILTO=info@vitexsoftware.cz
EASE_LOGGER=syslog|console
LANG=cs_CZ

CERT_FILE=vendor/vitexsoftware/rbczpremiumapi/examples/test_cert.p12
CERT_PASS=test12345678
XIBMCLIENTID=FbboLD2r1WHDRcuKS4wWUbSRHxlDloWL
API_DEBUG=True
STATEMENT_LINE=MAIN

ACCOUNT_NUMBER=640805006
ACCOUNT_CURRENCY=CZK

CNB_CACHE="http://localhost/cnb-cache/"

POHODA_ICO=12345678
POHODA_URL=http://77.87.240.111:10010
POHODA_USERNAME=Admin
POHODA_PASSWORD=xxxxxxxx
POHODA_TIMEOUT=60
POHODA_COMPRESS=false
POHODA_DEBUG=true
POHODA_BANK_IDS=KB

DB_CONNECTION=sqlsrv
DB_HOST=127.0.0.1
DB_PORT=1433
DB_DATABASE=StwPh_12345678_2023
DB_USERNAME=sa
DB_PASSWORD=XXXXX
DB_SETTINGS=encrypt=false

POHODA_DOCS='C:\Program Files (x86)\STORMWARE\POHODA SQL\Dokumenty'
DOWNLOAD_LINK_PREFIX=https://spojenetsro.sharepoint.com/:w:/r/sites/Vvojasystmy/Sdilene%20dokumenty/Banky/

OFFICE365_USERNAME=vitezslav.dvorak@spojenet.cz
OFFICE365_PASSWORD=*************
OFFICE365_CLIENTID=00000000-0000-0000-0000-000000000000
OFFICE365_SECRET=00000000-0000-0000-0000-000000000000
OFFICE365_CLSECRET=00000~00000-000000~0000000000000000.Ucb2
OFFICE365_TENANT=spojenetsro
OFFICE365_SITE=Vvojasystmy
OFFICE365_PATH='Sdilene dokumenty/Banky/'
