.DS_Store
config.php
import.csv
output.xml
/nbproject/private/
/nbproject/
.phpdoc
/.phpunit.result.cache
/.env
/RAIFF_MULTIFLEXI.p12
/debian/debhelper-build-stamp
/debian/abraflexi-raiffeisenbank.debhelper.log
/debian/abraflexi-raiffeisenbank/
/debian/.debhelper/
/debian/abraflexi-raiffeisenbank.substvars
/debian/files
/statement.xml
/vendor
/debian/pohoda-raiffeisenbank.substvars
/debian/pohoda-raiffeisenbank/
/debian/multiflexi-pohoda-raiffeisenbank.substvars
/debian/multiflexi-pohoda-raiffeisenbank/
/debian/multiflexi-pohoda-raiffeisenbank.debhelper.log
/debian/pohoda-raiffeisenbank.debhelper.log
