#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

override_dh_clean:
	rm -rf vendor/*
	dh_clean

override_dh_install:
	dh_install
	sed -i -e 's/..\/vendor/\/var\/lib\/composer\/pohoda-raiffeisenbank/g'   debian/pohoda-raiffeisenbank/usr/lib/pohoda-raiffeisenbank/*.php
	sed -i -e 's/\.\.\/.env//g'  debian/pohoda-raiffeisenbank/usr/lib/pohoda-raiffeisenbank/*.php
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//' `'"'  debian/conf/composer.json |sponge debian/pohoda-raiffeisenbank/usr/lib/pohoda-raiffeisenbank/composer.json
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  multiflexi/pohoda_raiffeisenbank_statements.multiflexi.app.json |sponge debian/multiflexi-pohoda-raiffeisenbank/usr/lib/pohoda-raiffeisenbank/multiflexi/pohoda_raiffeisenbank_statements.multiflexi.app.json
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  multiflexi/pohoda_raiffeisenbank_transactions.multiflexi.app.json |sponge debian/multiflexi-pohoda-raiffeisenbank/usr/lib/pohoda-raiffeisenbank/multiflexi/pohoda_raiffeisenbank_transactions.multiflexi.app.json
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  multiflexi/pohodasql_raiffeisenbank_sharepoint.multiflexi.app.json |sponge debian/multiflexi-pohoda-raiffeisenbank/usr/lib/pohoda-raiffeisenbank/multiflexi/pohodasql_raiffeisenbank_sharepoint.multiflexi.app.json
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  multiflexi/raiffeisenbank_statements_sharepoint_checker.multiflexi.app.json |sponge debian/multiflexi-pohoda-raiffeisenbank/usr/lib/pohoda-raiffeisenbank/multiflexi/raiffeisenbank_statements_sharepoint_checker.multiflexi.app.json
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  multiflexi/raiffeisenbank_statements_sharepoint_uploader.multiflexi.app.json |sponge debian/multiflexi-pohoda-raiffeisenbank/usr/lib/pohoda-raiffeisenbank/multiflexi/raiffeisenbank_statements_sharepoint_uploader.multiflexi.app.json
