#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)
PKG_TYPE    := $(shell jq -r '.type' composer.json)

%:
	dh $@

override_dh_clean:
	rm -rf vendor/*
	dh_clean



override_dh_install:
	dh_install
	
	install -m 644 debian/autoload.php debian/pohoda-raiffeisenbank/usr/lib/pohoda-raiffeisenbank/autoload.php
	sed -i "3a defined('APP_NAME') || define('APP_NAME', '$(PKG_SOURCE)');" debian/pohoda-raiffeisenbank/usr/lib/pohoda-raiffeisenbank/autoload.php
	sed -i "s|'unknown'|'$(PKG_SOURCE)'|" debian/pohoda-raiffeisenbank/usr/lib/pohoda-raiffeisenbank/autoload.php
	sed -i "s|'0.0.0'|'$(PKG_VERSION)'|" debian/pohoda-raiffeisenbank/usr/lib/pohoda-raiffeisenbank/autoload.php
	sed -i "s|'library'|'$(PKG_TYPE)'|g" debian/pohoda-raiffeisenbank/usr/lib/pohoda-raiffeisenbank/autoload.php
	sed -i "4a defined('APP_VERSION') || define('APP_VERSION', '$(PKG_VERSION)');" debian/pohoda-raiffeisenbank/usr/lib/pohoda-raiffeisenbank/autoload.php
	
	sed -i -e "s/..\/vendor\/autoload.php/autoload.php/g" debian/pohoda-raiffeisenbank/usr/lib/pohoda-raiffeisenbank/*.php
	sed -i -e 's/\.\.\/.env//g' debian/pohoda-raiffeisenbank/usr/lib/pohoda-raiffeisenbank/*.php
	jq '.version = "'$(PKG_VERSION)'"' debian/conf/composer.json | sponge debian/pohoda-raiffeisenbank/usr/lib/pohoda-raiffeisenbank/composer.json || true
	jq '.version = "'$(PKG_VERSION)'"' multiflexi/pohoda_raiffeisenbank_statements.multiflexi.app.json | sponge debian/multiflexi-pohoda-raiffeisenbank/usr/lib/pohoda-raiffeisenbank/multiflexi/pohoda_raiffeisenbank_statements.multiflexi.app.json || true
	jq '.version = "'$(PKG_VERSION)'"' multiflexi/pohoda_raiffeisenbank_transactions.multiflexi.app.json | sponge debian/multiflexi-pohoda-raiffeisenbank/usr/lib/pohoda-raiffeisenbank/multiflexi/pohoda_raiffeisenbank_transactions.multiflexi.app.json || true
	jq '.version = "'$(PKG_VERSION)'"' multiflexi/pohodasql_raiffeisenbank_sharepoint.multiflexi.app.json | sponge debian/multiflexi-pohoda-raiffeisenbank/usr/lib/pohoda-raiffeisenbank/multiflexi/pohodasql_raiffeisenbank_sharepoint.multiflexi.app.json || true
	jq '.version = "'$(PKG_VERSION)'"' multiflexi/raiffeisenbank_statements_sharepoint_checker.multiflexi.app.json | sponge debian/multiflexi-pohoda-raiffeisenbank/usr/lib/pohoda-raiffeisenbank/multiflexi/raiffeisenbank_statements_sharepoint_checker.multiflexi.app.json || true
	jq '.version = "'$(PKG_VERSION)'"' multiflexi/raiffeisenbank_statements_sharepoint_uploader.multiflexi.app.json | sponge debian/multiflexi-pohoda-raiffeisenbank/usr/lib/pohoda-raiffeisenbank/multiflexi/raiffeisenbank_statements_sharepoint_uploader.multiflexi.app.json || true

override_dh_auto_test:
	appstreamcli validate --pedantic --no-net debian/io.github.spoje_net.pohoda_raiffeisenbank.metainfo.xml || true
